<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Cars</h1>
            <p>Cars details</p> 
        </div>
    </div>

    <div *ngIf='cars$ | async as cars'>
        <div *ngIf="cars.length > 0; else notFound" class="row space-top">
            <div *ngFor="let car of cars" class="col-md-4">
                <div >
                    <img src="{{car.image}}" width="300" />
                    <p>{{car.description}}</p>
                    <div class="pull-right">
                        <a routerLink="/car/details/{{car.id}}" class="btn btn-outline-primary">Details</a>
                        <a routerLink="/car/edit/{{car.id}}" class="btn btn-outline-success">Edit</a>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #notFound>
            <span>There are no existing cars</span>
        </ng-template>
    </div>

</div>
