<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Cars</h1>
            <p>Cars details</p> 
        </div>
    </div>

    <div *ngIf='cars$ | async as cars'>
        <div *ngIf="cars.length > 0; else notFound" class="row space-top">
            <div *ngFor="let car of cars | paginate: {
                id: 'allCars', 
                itemsPerPage: pageSize, 
                currentPage: currentPage 
              }" class="col-md-4">
                <blockquote class="card-blockquote">
                    <img src="{{car.image}}" class="img-fluid img-thumbnail" />
                    <p>{{car.description}}</p>
                    <div class="pull-right">
                        <a routerLink="/car/details/{{car.id}}" class="btn btn-outline-primary">Details</a>
                        <a routerLink="/car/edit/{{car.id}}" class="btn btn-outline-success">Edit</a>
                        <a (click)="deleteItem(car.id)" class="btn btn-outline-danger">Delete</a>                 
                    </div>
                </blockquote>
            </div>
        </div>
        <ng-template #notFound>
            <span>There are no existing cars</span>
        </ng-template>
    </div><br><br><br><br>
 
    <pagination-controls
        id="allCars"
        (pageChange)="changePage($event)"  
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You are on page">
    </pagination-controls>
</div>
