<div *ngIf='car$ | async as car' class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Car details</h1>
        </div>
    </div>
    <div class="form-group row">
        <div class="card-body">
            <blockquote class="card-blockquote">
                <img src="{{car.image}}" width="500"/>
            </blockquote>
        </div>
        <div class="card-body">
            <p class="font-weight-light text-left"> Brand:  {{car.make}} </p>
            <p class="font-weight-light text-left"> Model: {{car.model}} </p>
            <p class="font-weight-light text-left"> Engine: {{car.engine}} </p>
            <p class="font-weight-light text-left"> HP: {{car.hp}} </p>
            <p class="font-weight-light text-left"> Gearbox: {{car.gearbox}} </p>
            <p class="font-weight-light text-left"> Year: {{car.year}} </p>
            <p class="font-weight-light text-left"> Doors: {{car.doors}} </p>
            <p class="font-weight-light text-left"> Description: {{car.description}} </p>
            <p class="font-weight-light text-left"> Price: {{car.price}} </p>
        </div>
    </div>
</div>
